<section class="card">
  <a href="./painting/{{id}}">
    <div class="card-body">
      <img src="/images/{{painting.filename}}" alt="{{description}}" />
      <div class="painting-details">
        <h3>{{title}}</h3>
        <p>By: {{artist}}</p>
      </div>
    </div>
  </a>
</section>